params{
  input = "/home/karen/test/test-datasets/fastq/*_{1,2}.fastq.gz"
}

process{
  container = 'katthyren/test:dev'
  containerOptions = '-B /home/'
}

profiles {
    docker {
        docker.enabled = true
        singularity.enabled = false
        podman.enabled = false
        shifter.enabled = false
        charliecloud.enabled = false
        docker.runOptions = '-u \$(id -u):\$(id -g)'
    }
    test { includeConfig 'conf/test.config' }
}

singularity.enabled = true
singularity.autoMounts = true
singularity.cacheDir = '/home/karen/containers'
